{% extends 'kidzapp/parent/parent_base.html' %}
{%load static%}
{% block title%}KidzPortal|Compose{%endblock%}
{% block style%}
h1{color:green}
{% endblock%}
{%block script%}
alert("hello tem")
{%endblock%}
{%block content%}
<h1>Use of Templates</h1>
<p>This is very well said ”Children-The future of tomorrow”. The Wealth of a nation is not so much in its of economical and natural resources but it lies more decidedly in the kind and quality of the wealth of its children and youth. It is they who will be the creators and shapers of a nation’s tomorrow. The Children of today will be adults of tomorrow. Their quality and personality will determine the kind of destiny that beacons the nation. The Youth of the nation is its power house. They have boundless stores of energy, will, capability, zeal, and enthusiasm and have the power to mould the destiny of the nation. This infinite storehouse of energy has to be properly molded and needs to be given appropriate direction. The youth has to train to use their talents needs to given appropriate direction. The youth has to be trained to use their talents and abilities in constructive ways and help in nation-building and strengthening of it.
    This is a web portal where parents will be able to explore all the dimensions related to overall development of their kids. They can find an easy way to give right direction to their kid’s talent in just one click.</p>
{%endblock%}
