{%load static%}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="{% static 'kidzapp/css/parent.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{% static 'kidzapp/images/favicon.jpg' %}" type="image/jpg">
    <title>Hello{{userdata.name}}</title>
</head>
<body>
	{%include "kidzapp/organizer/org_header.html" %} 
   

    <!--Container Main end-->
    {% comment %} {% for user in userdata%} {% endcomment %}
	<div class="bg-light"style = "margin-top:60px">
        <h4 style = "text-align: center">Hello {{userdata.name}}!!</h4>
        <h1 style = "text-align: center">Welcome to the </h1>
        <h4 style = "text-align: center">All the respective content should written here.</h4>
    </div>
	<div class="card d-flex">
		<div class="row g-0">
		  <div class="col-md-4">
			 <img src="/media/{{userdata.pic_name}}" class="img-fluid rounded-start" alt="..."> 
		  </div>
		  <div class="col-md-8">
			<div class="card-body">
			  <h5 class="card-title">{{userdata.name}}</h5>
			  <p class="card-text">{{userdata.email}}</p>
			  <p class="card-text">{{userdata.phone}}</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Upload  Image
        </button>
			</div>
		  </div>
		</div>
	  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Your  Profile Pic</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        <form method="POST" action ="/upload_pic/" enctype="multipart/form-data">
          {% csrf_token %}
         
          <input type="file" name="file_upload">
          <button type="submit" class="btn btn-primary">upload</button>
          
        </form> 
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>


       {%include "kidzapp/html/footer.html" %} 
    <script type= 'text/javascript'src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
   
    {% comment %} <script src="{% static 'kidzapp/js/parent_home.js' %}"></script> {% endcomment %}
</body>
</html>